{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "jasmine": true
  },
  "rules": {
    "strict": 0,
    "comma-dangle": [
      2,
      "never"
    ],
    "eol-last": 1,
    // enforce newline at the end of file, with no multiple empty lines
    "no-param-reassign": [
      0,
      {
        "props": false
      }
    ],

    "indent": [
      2, 4, { "SwitchCase": 1 }
    ],
    "max-len": [2, 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false
    }],
    "spaced-comment": 0,
    "no-underscore-dangle": 0,
    "newline-per-chained-call": 0,
    "linebreak-style": 0,
    "angular/controller-name": [2,"/[A-Z].*Ctrl/"],
    "angular/controller-as-vm": 0,
    "angular/on-watch": 0,
    "angular/window-service": 0
  },
  "globals": {
    "cordova": true,
    "ionic": true
  },
  "plugins":  [
    "protractor",
    "jasmine"
  ],
  "extends": [
    "angular",
    "airbnb/base",
    "plugin:protractor/recommended",
    "plugin:jasmine/recommended"
  ]
}
