# /node_modules and /bower_components ignored by default
node_modules/**/*
hooks/
www/
src/lib/**/*
gulpfile.js
gulp/**/*
platforms/
plugins/
test/karma.conf.js
test/protractor.config.js
src/js/**/*.spec.js