{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "strict": 0,
    "comma-dangle": [
      2,
      "never"
    ],
    "eol-last": 1,
    // enforce newline at the end of file, with no multiple empty lines
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "angular/window-service": 0,
    "indent": [
      2, 4
    ],
    "angular/controller-name": [2,"/[A-Z].*Ctrl/"]
  },
  "globals": {
    "cordova": true
  },
  "extends": [
    "angular",
    "airbnb/base"
  ]
}
