npm-debug.log
.eslintcache
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

/node_modules/
/resources/
/platforms/
/plugins/
/www/
/dist/
/src/css/ionic.app.css
/src/css/ionic.app.min.css
/src/lib/*
#/www/js/core/config/config.js

# Vagrant - docker
.vagrant/
#Vagrantfile
#Dockerfile
#docker-compose.yml
#.dockerignore

# Webstorm user-specific stuff:
.idea/

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

_*
.DS_STORE
*.swp

vertical.scss
*.orig
