npm-debug.log
.eslintcache
/node_modules/
/platforms/
/plugins/
/src/lib/*
/www/*
/src/css/ionic.app.css
/src/css/ionic.app.min.css

#/www/js/core/config/config.js

# Vagrant - docker
.vagrant/
#Vagrantfile
#Dockerfile
#docker-compose.yml
#.dockerignore

# Webstorm user-specific stuff:
.idea/

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

_*
.DS_STORE
*.swp

vertical.scss
*.orig
