/ionic.project
/www/build/js/app.bundle.min.js
/www/build
/www/build/js/tpl.bundle.min.js
/www/docs
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

/node_modules/
/resources/
/platforms/
/plugins/
/www/lib/
/dist/
/www/js/core/config/config.js

# Vagrant - docker
.vagrant/
#Vagrantfile
#Dockerfile
#docker-compose.yml
#.dockerignore

# Webstorm user-specific stuff:
.idea/workspace.xml
.idea/jsLibraryMappings.xml
.idea/tasks.xml
.idea/dictionaries
# .idea/shelf

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

_*
.DS_STORE
*.swp

vertical.scss
*.orig
